@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Play%7CRoboto");
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 110%;
  background: #a5acb0;
  color: #fff;
  overflow-y: scroll;
  cursor: default;
}

/* line 16, ../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Play", monospace;
  color: #fff;
}

/* line 21, ../lib/sass/_base.scss */
h1 {
  font-size: 2rem;
  line-height: 140%;
  padding-left: 1.2rem;
}

/* line 27, ../lib/sass/_base.scss */
h2 {
  font-size: 1.5rem;
  line-height: 160%;
  text-align: center;
}

/* line 33, ../lib/sass/_base.scss */
a {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-size: .9rem;
  text-decoration: none;
  color: #fff;
  padding: 0 .3rem;
}
/* line 40, ../lib/sass/_base.scss */
a:hover {
  color: #63cae1;
}

/* line 45, ../lib/sass/_base.scss */
p {
  color: #fff;
}

/* line 49, ../lib/sass/_base.scss */
section {
  width: 90%;
  padding: 20px 15px;
  margin: 100px auto;
  background-color: rgba(0, 112, 74, 0.8);
  border-radius: 25px;
}

/* line 57, ../lib/sass/_base.scss */
ul {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 80%;
  margin: auto;
}
/* line 62, ../lib/sass/_base.scss */
ul li {
  list-style-type: square;
  margin-bottom: 5px;
}

/* line 21, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../lib/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 26, ../lib/sass/_layout.scss */
.hide {
  display: none !important;
}

/* line 30, ../lib/sass/_layout.scss */
.active {
  display: block !important;
}

/* line 1, ../lib/sass/_partials.scss */
.block1, .block2, .block4 {
  display: block;
  float: left;
  height: 30px;
  border: solid #fff 1px;
}

/* line 1, ../lib/sass/_nav.scss */
.navbar {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 42%, 23% 100%, 0 68%);
  background-color: #00704a;
}
/* line 10, ../lib/sass/_nav.scss */
.navbar h1 {
  float: left;
  font-size: 1.4rem;
  margin-top: 5px;
}
@media (min-width: 30em) {
  /* line 1, ../lib/sass/_nav.scss */
  .navbar {
    height: 100px;
  }
  /* line 19, ../lib/sass/_nav.scss */
  .navbar h1 {
    font-size: 2rem;
    margin: 0;
  }
}

/* line 26, ../lib/sass/_nav.scss */
.navlinks {
  float: left;
  line-height: 120%;
  margin-left: 15px;
}
/* line 31, ../lib/sass/_nav.scss */
.navlinks a:hover {
  border: solid #63cae1 1px;
  border-top: solid #63cae1 10px;
}
@media (min-width: 37.5em) {
  /* line 26, ../lib/sass/_nav.scss */
  .navlinks {
    float: right;
    line-height: 160%;
  }
}

/* line 42, ../lib/sass/_nav.scss */
.footerbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  clip-path: polygon(77% 0, 100% 42%, 100% 100%, 0 100%, 0 68%);
  background-color: #00704a;
}
/* line 52, ../lib/sass/_nav.scss */
.footerbar .navlinks a:hover {
  border: solid #63cae1 1px;
  border-bottom: solid #63cae1 10px;
}

/* line 1, ../lib/sass/_splash.scss */
.splash {
  width: 100%;
  height: 100vh;
  background-color: #63cae1;
}

/* line 1, ../lib/sass/_content.scss */
.underline {
  width: 95%;
  height: 1px;
  background-color: #fff;
  margin: auto;
  margin-bottom: .8rem;
}
@media (min-width: 30em) {
  /* line 1, ../lib/sass/_content.scss */
  .underline {
    width: 60%;
  }
}
@media (min-width: 56em) {
  /* line 1, ../lib/sass/_content.scss */
  .underline {
    width: 40%;
  }
}

/* line 17, ../lib/sass/_content.scss */
.highlight {
  display: block;
  width: 100%;
}

@media (min-width: 25em) {
  /* line 23, ../lib/sass/_content.scss */
  section ul {
    width: 60%;
  }
}
@media (min-width: 30em) {
  /* line 23, ../lib/sass/_content.scss */
  section ul {
    width: 40%;
  }
}

/* line 1, ../lib/sass/_blocks.scss */
.blocks {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

/* line 10, ../lib/sass/_blocks.scss */
.block1 {
  width: 5%;
}

/* line 15, ../lib/sass/_blocks.scss */
.block2 {
  width: 10%;
}

/* line 20, ../lib/sass/_blocks.scss */
.block4 {
  width: 20%;
}

/* line 25, ../lib/sass/_blocks.scss */
.yellow {
  background-color: #f5e100;
}

/* line 29, ../lib/sass/_blocks.scss */
.green {
  background-color: #85c446;
}

/* line 33, ../lib/sass/_blocks.scss */
.orange {
  background-color: #ec6932;
}

/* line 37, ../lib/sass/_blocks.scss */
.blue {
  background-color: #0b7cbc;
}

/* line 41, ../lib/sass/_blocks.scss */
.silver {
  background-color: #a5acb0;
}

/* Slider */
/* line 3, ../lib/sass/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../lib/sass/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 25, ../lib/sass/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 29, ../lib/sass/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 34, ../lib/sass/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 43, ../lib/sass/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 49, ../lib/sass/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 55, ../lib/sass/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 59, ../lib/sass/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 63, ../lib/sass/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 67, ../lib/sass/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 70, ../lib/sass/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 73, ../lib/sass/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 79, ../lib/sass/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 83, ../lib/sass/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 87, ../lib/sass/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 91, ../lib/sass/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 97, ../lib/sass/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 40, ../lib/sass/_slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
/* Arrows */
/* line 58, ../lib/sass/_slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 77, ../lib/sass/_slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 81, ../lib/sass/_slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 85, ../lib/sass/_slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 90, ../lib/sass/_slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "Play", monospace;
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 100, ../lib/sass/_slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 102, ../lib/sass/_slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 106, ../lib/sass/_slick-theme.scss */
.slick-prev:before {
  content: "←";
}
/* line 108, ../lib/sass/_slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 114, ../lib/sass/_slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 116, ../lib/sass/_slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 120, ../lib/sass/_slick-theme.scss */
.slick-next:before {
  content: "→";
}
/* line 122, ../lib/sass/_slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 130, ../lib/sass/_slick-theme.scss */
.slick-slider {
  margin-bottom: 0px;
}

/* line 134, ../lib/sass/_slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 142, ../lib/sass/_slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 150, ../lib/sass/_slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 162, ../lib/sass/_slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 164, ../lib/sass/_slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 168, ../lib/sass/_slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "Play", monospace;
  font-size: 50px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 185, ../lib/sass/_slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.75;
}
